#fundo {
    background-color: #1d2f16;
    margin-left: 4%;
    margin-top: 1%;
    color: white;
}

#fundo1 {
    background-color: #1d2f16;
    margin-left: 10px;
}

#fundo2 {
    background-color: #1d2f16;
    margin-left: 10px;
    margin-top: -2px;
}

#h {
    background-color: #1f5835;
    margin-left: 10px;
}

#selano {
    color: black;
    margin-top: -50px;
    margin-left: 1px;
}

#logoff {
    margin-top: -2px;
    margin-left: 50px;
    width: 25px;
    height: 25px;
}

#corpo {
    margin-left: 4%;
}

#addbt {
    background-color: #1d2f16;
    color: white;
    border: solid;
    border-width: 1px;
    padding: 3px;
    text-align: center;
    margin-top: 2%;
    text-decoration: none;
}

#lista {
    margin-top: -30px;
    margin-left: 55px;
}

table {
    border: solid;
    border-color: white;
    width: 100%;
}

#exibem {
    outline: 1px solid #CEC5C5;
    background-color: #BCF5A9;
    width: 90%;
    height: 25%;
    margin-left: 100px;
    font-size: 18px;
    color: #6D6B6B;
}

#exibea {
    outline: 1px solid #CEC5C5;
    background-color: #F6CED8;
    width: 90%;
    height: 25%;
    font-size: 18px;
    margin-left: 100px;
    color: #6D6B6B;
}

#edita {
    outline: 1px solid #CEC5C5;
    background-color: #E6E6E6;
    width: 50%;
    height: 42%;
    font-size: 14px;
    margin-left: 100px;
    color: #6D6B6B;
}

#adiciona {
    outline: 1px solid #CEC5C5;
    background-color: #E6E6E6;
    width:30%;
    height: 70%;
    font-size: 14px;
    margin-left: 100px;
    color: #6D6B6B;
}

#form {
    margin-left: 10px;
}

#tamanho{
    width: 15%;
}